<h1>Question content: </h1>

<h4><%= @question.content() %></h4>

<a href="/surveys/<%=@survey.id()%>/questions/<%=@question.id()%>/edit" class="btn btn-warning">Edit Question Content</a>
<hr>

<% if @question.responses.any? %>
  <h4>Responses:</h4>
  <ul class="list-group">
    <% @question.responses.each do |response| %>
    <li class="list-group-item">
      <% if response.rating > 5 %>
        <span>Rating: <span class="glyphicon glyphicon-fire"></span></span><br>
      <% else %>
        <span>Rating: <%=response.rating %></span><br>
      <%end %>
      <%=response.response_content %>

        <form class="response-form" action="/surveys/<%= @survey.id() %>/questions/<%=@question.id %>/<%=response.id%>/delete" method="post">
          <input name = "_method" type="hidden" value="delete">
          <button class = 'btn btn-danger btn-sm' type="submit">Delete Response</button>
        </form>
        <form class="rating-form" action="/surveys/<%= @survey.id() %>/questions/<%=@question.id %>/<%=response.id%>/down_vote" method="post">
          <input name = "_method" type="hidden" value="patch">
          <button class = 'btn btn-warning btn-sm downVote' type="submit"><span class="glyphicon glyphicon-thumbs-down"></span></button>
        </form>
        <form class="rating-form" action="/surveys/<%= @survey.id() %>/questions/<%=@question.id %>/<%=response.id%>/up_vote" method="post">
          <input name = "_method" type="hidden" value="patch">
          <button class = 'btn btn-success btn-sm upVote' type="submit"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        </form>

    </li>

    <% end %>
  </ul>
<% else %>
  <p>
    No responses at this time
  </p>
<% end %>

<h3>Add a response</h3>


<form class="" action="/surveys/<%=@survey.id()%>/questions/<%= @question.id() %>/new_response" method="post">
  <label for="response">Keep your responses concise</label><br>
  <textarea name="response" id="response" rows="8" cols="40"></textarea><br>
  <button class = 'btn btn-primary' type="submit">Submit Response</button>
</form>

<hr>
<a href="/" class="btn btn-default active" role="button">Home</a>
